<div class="container row mt-5 justify-content-center">
  <h1 class="text-center"><%= @list.name %></h1>
  <%= cl_image_tag @list.photo.key, class: "list-image my-3", crop: :fill %>
  <%= link_to "➕ Add new movie", new_list_bookmark_path(@list), class: "text-center" %>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card py-3 m-2", style="width: 18rem; text-decoration: none; color: black;">
    <%= link_to movie_path(bookmark.movie) do %>
    <img src= <%= bookmark.movie.poster_url %> class="card-img-top" alt="<%= bookmark.movie.title %> poster">
    <% end %>
    <div class="card-body">
      <h5 class="card-title" style="
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;"><%= bookmark.movie.title %></h5>
      <p class="card-text" style="
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;"
      ><%= bookmark.movie.overview %></p>
      <p><%= bookmark.movie.rating %>/10</p>
    </div>
    <%= link_to "delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
  <% end %>
</div>

<%# Change the routes to display films ---- LINE 5 -------%>
